<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url(/images/sky.jpg);
            background-size: cover;
        }

        ul.layout {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
            font-family: "Times New Roman", Times, sans-serif;
            font-size: 17px;
            
        }

            li a, .dropbtn {
                display: inline-block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-family: "Times New Roman", Times, sans-serif;
                font-size: 17px;
               
            }

                li a:hover, .dropdown:hover .dropbtn {
                    background-color: red;
                }

            li.dropdown {
                display: inline-block;
            }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            
            font-family: "Times New Roman", Times, sans-serif;
            font-size: 17px;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
                font-family: "Times New Roman", Times, sans-serif;
                font-size: 17px;
            }
            .dropdown-content input {
                width: 200px;
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
                background-color: #f9f9f9;
                border: none;
                font-family: "Times New Roman", Times, sans-serif;
                font-size: 17px;
                cursor:pointer;
            }

                .dropdown-content a:hover {
                    background-color: #f1f1f1;
                }

            .dropdown-content input:hover {
                background-color: #f1f1f1;
            }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>

    
</head>
<body>
        <header>
            
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="layout">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropbtn">@User.Identity.Name</a>
                            <div class="dropdown-content">
                                
                                <a asp-controller="Collections" asp-action="" asp-route-username="@User.Identity.Name">My Collections</a>
                                <form method="post" asp-controller="Account" asp-action="Logout">
                                    <input type="submit" value="Logout" />
                                </form>
                            </div>
                        </li>
                        <li><a asp-controller="Users" asp-action="">Users</a></li>
                    </ul>
                }
                else
                {
                    <ul class="layout">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                        <li><a asp-controller="Account" asp-action="Register">Register</a></li>
                        <li><a asp-controller="Users" asp-action="">Users</a></li>
                    </ul>
                }
            
        </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
