@using Microsoft.AspNetCore.Identity
@model CollectionApp.ViewModels.ProfileControllerViewModel
@{ 
    ViewBag.Title = Model.UserName;
}
<head>

    <style>

        p {
            font-family: "Times New Roman", Times, sans-serif;
            font-size: 17px;
        }
        h2 {
            font-family: "Times New Roman", Times, sans-serif;
            font-size: 20px;
        }

    </style>

</head>

<body>




</body>

