@model CollectionApp.ViewModels.EditItemViewModel
@{

    ViewBag.Title = "Edit item";

}

<head>

    <style>
        * {
            box-sizing: border-box;
        }

        input[type=text], select, textarea {
            width: 500px;
            box-shadow: 1px 1px 1px grey;
            font-family: "Times New Roman", Times, sans-serif;
            font-size: 17px;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }


            textarea.desc {
                box-shadow: 1px 1px 1px grey;
                width: 500px;
                height: 225px;
                font-family: "Times New Roman", Times, sans-serif;
                font-size: 17px;
                padding: 12px;
                border: 1px solid #ccc;
                border-radius: 4px;
                resize: vertical;
            }

        label {
            padding: 0;
            display: inline-block;
        }

        input[type=submit][class=add] {
            font-family: "Times New Roman", Times, sans-serif;
            font-size: 17px;
            background-color: darkgreen;
            color: white;
            padding: 8px 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            float: left;
            margin-right: 5px;
            margin-top: 5px;
            margin-bottom: 5px;
            position: relative;
        }

            input[type=submit][class=add]:hover {
                background-color: forestgreen;
            }

        input[type=file] {
            font-family: "Times New Roman", Times, sans-serif;
            font-size: 17px;
            float: left;
            margin-right: 5px;
            margin-top: 5px;
            margin-bottom: 5px;
            position: relative;
        }

            input[type=file]:hover {
            }

        .col-25 {
            float: left;
            width: auto;
            margin-top: 6px;
        }

        .col-75 {
            float: left;
            width: 100%;
            margin-top: 6px;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        label {
            font-family: "Times New Roman", Times, sans-serif;
            font-size: 17px;
        }

        span {
            font-family: "Times New Roman", Times, sans-serif;
            font-size: 17px;
            color: red;
        }

        h2 {
            font-family: "Times New Roman", Times, sans-serif;
            font-size: 20px;
            text-align: left;
            margin-bottom: 5px;
        }

        .column {
               float: left;
                padding: 10px;
        }
            .column.side {
               width: 50%;
        }
            .column.middle {
            width: 50%;
        }
            .row:after {
  content: "";
  display: table;
  clear: both;
}
            img {
                height:auto;
                width:100%;
                margin-left:5px;
            }
    </style>

</head>


<body>
    <div class="row">
        <div class="column side">
            <h2>Edit item</h2>
            <form method="post" asp-controller="Collections" asp-action="EditItem" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly"></div>

                <div class="row">
                    <div class="col-25">
                        <label asp-for="ItemName">Item name</label>
                    </div>
                    <div class="col-75">
                        <input type="text" asp-for="ItemName" />
                        <span asp-validation-for="ItemName"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label asp-for="Text">Description</label>
                    </div>
                    <div class="col-75">
                        <textarea class="desc" asp-for="Text"></textarea>
                        <span asp-validation-for="Text"></span>
                    </div>
                </div>

                <div class="row">
                    <label asp-for="NewImage">Image</label>
                    <div class="col-75">
                        <input type="file" asp-for="NewImage" />
                    </div>
                </div>

                <div class="row">
                    <input type="submit" class="add" value="Save">
                </div>

            </form>
        </div>

        <div class="column middle">

            @if (Model.Image != null)

            {
                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Image))" />

            }

        </div>

    </div>
</body>